<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder='title' [(ngModel)]='title' #inputTitle>
      <mat-hint>use <a href='https://emojipedia.org/' target='_blank'>emoji</a> as icon</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <textarea #inputContent matInput matTextareaAutosize
        [(ngModel)]='content'
        (keypress)='keyPress($event)'
        (keyup)='keyUp($event)'>
      </textarea>
      <mat-hint><a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'
          target='_blank'>markdown cheatsheet</a></mat-hint>
    </mat-form-field>
    <p></p>
    <mat-checkbox [(ngModel)]='encrypt'>Encrypt</mat-checkbox>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)='emitSave()' matTooltip='shift + enter'>SAVE</button>
    <button mat-button (click)='cancel.emit()'>CANCEL</button>
  </mat-card-actions>
</mat-card>
