<mat-spinner *ngIf='backup.pending$ | async' color='accent' diameter='30'></mat-spinner>

<button *ngIf='(gapi.signed$ | async) && (backup.unsaved$ | async)'
  mat-icon-button (click)='backup.saveSafe()'
  [disabled]='backup.pending$ | async'
  matTooltip='Save changes to Google Drive (ctrl + shift + s)'>
  <mat-icon>save</mat-icon>
</button>

<button *ngIf='crypto.unlocked$ | async' mat-icon-button (click)='crypto.setPassword()'
  matTooltip='Lock encrypted notes'>
  <mat-icon>lock_open</mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu>
  <button mat-menu-item *ngIf='(gapi.signed$ | async) === false' (click)='gapi.signIn()'>
    Sync with Google Drive
  </button>

  <button mat-menu-item *ngIf='gapi.signed$ | async' (click)='logout()'>
    Logout and cleanup
  </button>

  <button mat-menu-item *ngIf='notes.length | async' (click)='backup.downloadFile()'>
    Download backup
  </button>

  <button mat-menu-item (click)='uploadJSON()'>
    Restore from backup
  </button>
</mat-menu>
