<mat-toolbar color='primary'>
  <button mat-icon-button (click)='snav.toggle()'>
    <mat-icon>menu</mat-icon>
  </button>  
  <h1>Mininote</h1>
  <app-gdrive-sync></app-gdrive-sync>
</mat-toolbar>

<mat-sidenav-container fullscreen autosize='true'>
  <mat-sidenav #snav
    [opened]='openNavAtStart'
    [mode]="mobileQuery.matches ? 'over' : 'side'">
    <app-list (click)='mobileQuery.matches && snav.close()'></app-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>  
  </mat-sidenav-content>
</mat-sidenav-container>

<button mat-fab routerLink='/add'>
  <mat-icon>add</mat-icon>
</button>
