button[mat-fab] {
  position: absolute;
  right: 5vmin;
  bottom: 5vmin;
  z-index: 2;
}

h1 {
  margin-left: 8px;
  flex: 1 1 auto;
}

 mat-sidenav-container {
  z-index: auto;
} 

mat-sidenav-content {
  padding: 5vmin;
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

mat-toolbar {
  z-index: 2;
  position: absolute;
  top: 0;
}

mat-sidenav.mat-drawer-side {
  z-index: 1;
  margin-top: 56px;
}

mat-sidenav-content {
  margin-top: 56px;
}
