.rm {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #777;
}

.rm:hover {
  color: #333;
}

mat-card-title {
  display: flex;
  align-items: center;
}

mat-card-title mat-icon {
  color: #999;
  padding-left: 2px;
}
