<mat-card>
  <mat-card-title (click)='clickTitle()'>
    <span>{{title}}</span>
    <mat-icon *ngIf='encrypted'>lock</mat-icon>
  </mat-card-title>
  <mat-card-content [innerHTML]='marked(content)'></mat-card-content>

  <button class='rm' mat-icon-button (click)='rm.emit()'>
    <mat-icon>delete</mat-icon>
  </button>    

  <mat-card-actions>
    <button *ngIf='!locked' mat-button (click)='clickEdit()'>EDIT</button>
    <button *ngIf='locked' mat-button (click)='unlock.emit()'>DECRYPT</button>
  </mat-card-actions>
</mat-card>
