<h1 mat-dialog-title>Input password</h1>
  <div mat-dialog-content><mat-form-field>
    <input [type]="show ? 'text' : 'password'" matInput cdkFocusInitial #input
      (keyup.enter)='this.dialogRef.close(input.value)'>
    <mat-hint>{{input.value?.length || 0}}</mat-hint>
    <button mat-button matSuffix mat-icon-button (click)='show = !show'>
      <mat-icon *ngIf='show'>visibility</mat-icon>
      <mat-icon *ngIf='!show'>visibility_off</mat-icon>
    </button>
  </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)='this.dialogRef.close()'>Cancel</button>
    <button mat-button (click)='this.dialogRef.close(input.value)'>Ok</button>
  </div>
  